@model IEnumerable<Asn3.Models.Question>

@{
    ViewBag.Title = "Index";
}

<h2>Questions</h2>

<p>
    @Html.ActionLink("Ask new Question", "Create","Questions")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Qname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qdatetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Catobjref)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Qname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Qdatetime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Catobjref)
        @Html.ActionLink("View", "Index", "Answers",new { id = item.Qid }, null)
    </td>
    <td>
        @Html.ActionLink("Add Answer", "AddAnswer", new { id = item.Qid }) 
    </td>
</tr>
}

</table>
